@{
    ViewData["Title"] = "About_US";
}


@section CustomCss{
    <link href="~/css/Test.css" rel="stylesheet" />
    <link href="~/css/my.css" rel="stylesheet" />

}

<div class="Content">
 <h1>About_us</h1>

<h2>We Serve Love</h2>

<div class="address-items">
    <ul class="info">
        <li>
            <h4>Office Location</h4>
            <div class="icon"><i class="fas fa-map-marked-alt"></i></div>
            <span>Hotel Yogesh & Bar,<br> Near Captian Petrol Pump, Beed Road Georai</span>
        </li>
        <li>
            <h4>Phone</h4>
            <div class="icon"><i class="fas fa-phone"></i></div>
            <span>+91-9860709690 <br>+91-9834641117</span>
        </li>
        <li>
            <h4>Email</h4>
            <div class="icon"><i class="fas fa-envelope-open"></i> </div>
            <span>Yogeshotel01@gmail.com</span>
        </li>
    </ul>

    <h4>Social Address</h4>
    <ul class="social">
        <li class="facebook">
            <a href="#"><i class="fab fa-facebook-f"></i> </a>
        </li>
        <li class="twitter">
            <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="pinterest">
            <a href="#"><i class="fab fa-pinterest"></i></a>
        </li>
            <li class="instagram">
                <a href="https://www.instagram.com/hotel._yogesh_bar?igsh=ajR3bmt5endwaGdw">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>

    </ul>
</div>




<button class="testB" type="button">Hello</button>


</div>
<footer>

</footer>


@section CustomJs
{
    <script src="~/js/Test.js"></script>
}
