@{
    ViewData["Title"] = "Home Page";
}

@section CustomCSS{
    <link href="~/css/index.css" rel="stylesheet" />
}

<body>
    <div class="Content">

        <div class="ContentBox" id="Box1">special fish dishes</div>
        <div>
            <h2 id="first">The Delicious Food<br> for your <span class="highlight">Friends and family</span> </h2>
            <p id="firstp">We provide best qualty of food<br> with great Quality of test and service<br> Lest's try our Food </p>
            <input type="submit"  class="butt"  id="butt1" value="View Our menu" />
            <input type="submit" class="butt" id="butt2" value="Book a table" />

            <div id="firstR">
                <div class="ContentBox1" id="Box2">special dish</div>
                <p id="firstp2"><span class="headingR"> Vaam Fish Fry<br></span> This our one of<br> most famous dish</p>
                <input type="submit" class="butt" id="butt3" value="Order Now" />


            </div>
        </div>
        <div id="Services">
            <h1 id="sv">Our Services</h1>
            <p id="pg2">
                We are the best in market who provide best qualitiy of Veg and Non-veg food, as well as all type of Drinks like Vodka , Rum, Whisky, Beer, Wine, Brandy , Scotch Whisky with Good service.
            </p>
                <div class="ContentBox2" id="Boxs1">special fish dishes</div>
                <div class="ContentBox2" id="Boxs2">special fish dishes</div>
                <div class="ContentBox2" id="Boxs3">special fish dishes</div>
            
        </div>

        <div id="AboutUsI">
            <div class="ContentBox3" id="BoxsA1"></div>
            <div class="ContentBox3" id="BoxsA2"></div>
            <div class="ContentBox3" id="BoxsA3"></div>
            <div class="ContentBox3" id="BoxsA4"></div>

        </div>

       
        <div id="AboutUS">
            <h5 id="AH">About Us</h5>
            <h2 id="h2i">Discover your<span class="highlight"> favorite<br> food </span> within our<br> restaurant</h2>
            <p>Yogesh Hotel is one of the most famous hotels<br> for the best quality of VEG & Non-Veg Food.<br> We are specially famous for all types<br> of seafood and <span class="highlight">fish dishes.</span></p>


        </div>
        
</body>


@section CustomJs
{
    <script src="~/js/knockout-3.5.1.js"></script>
}
