@{
    ViewData["Title"] = "Menu";
}

@section CustomCSS {
    <link href="~/css/menu.css" rel="stylesheet" />
}
<body>
   
    <h1>Special Meanu</h1>
    <div class="Content">

        <div id="container">


            <div class="ContentBox" id="Box1">Special</div>
            <div class="ContentBox" id="Box2">Special</div>
            <div class="ContentBox" id="Box3">Special</div>
            <div class="ContentBox" id="Box4">Special</div>
            <div class="ContentBox" id="Box5">Special</div>
            <div class="ContentBox" id="Box6">Special</div>
            <div class="ContentBox" id="Box7">Special</div>
            <div class="ContentBox" id="Box8">Special</div>
            <div class="ContentBox" id="Box9">Special</div>
            <div class="ContentBox" id="Box10">Special</div>
            <div class="ContentBox" id="Box11">Special</div>
            <div class="ContentBox" id="Box12">Special</div>
            <div class="ContentBox" id="Box13">Special</div>
            




        </div>

        <h1>Veg Meanu</h1>
        <div id="container1">


            <div class="ContentBox" id="box1">Pure-Veg</div>
            <div class="ContentBox" id="box2">Pure-Veg</div>
            <div class="ContentBox" id="box3">Pure-Veg</div>
            <div class="ContentBox" id="box4">Pure-Veg</div>
            <div class="ContentBox" id="box5">Pure-Veg</div>
            <div class="ContentBox" id="box6">Pure-Veg</div>
            <div class="ContentBox" id="box7">Pure-Veg</div>
            <div class="ContentBox" id="box8">Pure-Veg</div>
            <div class="ContentBox" id="box9">Pure-Veg</div>
            <div class="ContentBox" id="box10">Pure-Veg</div>
            <div class="ContentBox" id="box11">Pure-Veg</div>
            <div class="ContentBox" id="box12">Pure-Veg</div>
            <div class="ContentBox" id="box13">Pure-Veg</div>
            <div class="ContentBox" id="box14">Pure-Veg</div>
            <div class="ContentBox" id="box15">Pure-Veg</div>
            <div class="ContentBox" id="box16">Pure-Veg</div>
            <div class="ContentBox" id="box17">Pure-Veg</div>
            <div class="ContentBox" id="box18">Pure-Veg</div>
            <div class="ContentBox" id="box19">Pure-Veg</div>
            <div class="ContentBox" id="box20">Pure-Veg</div>
            <div class="ContentBox" id="box21">Pure-Veg</div>
            <div class="ContentBox" id="box22">Pure-Veg</div>
            <div class="ContentBox" id="box23">Pure-Veg</div>
            <div class="ContentBox" id="box24">Pure-Veg</div>
            <div class="ContentBox" id="box25">Pure-Veg</div>
            <div class="ContentBox" id="box26">Pure-Veg</div>
           
            



        </div>

        <h1>Non-Veg Meanu</h1>

        <div id="container2">

                                       
            <div class="ContentBox" id="NBox1">Non-Veg</div>
            <div class="ContentBox" id="NBox2">Non-Veg</div>
            <div class="ContentBox" id="NBox3">Non-Veg</div>
            <div class="ContentBox" id="NBox4">Non-Veg</div>
            <div class="ContentBox" id="NBox5">Non-Veg</div>
            <div class="ContentBox" id="NBox6">Non-Veg</div>
            <div class="ContentBox" id="NBox7">Non-Veg</div>
            <div class="ContentBox" id="NBox8">Non-Veg</div>
            <div class="ContentBox" id="NBox9">Non-Veg</div>
            <div class="ContentBox" id="NBox10">Non-Veg</div>
            <div class="ContentBox" id="NBox11">Non-Veg</div>
            <div class="ContentBox" id="NBox12">Non-Veg</div>
            <div class="ContentBox" id="NBox13">Non-Veg</div>
            <div class="ContentBox" id="NBox14">Non-Veg</div>
            <div class="ContentBox" id="NBox15">Non-Veg</div>
            <div class="ContentBox" id="NBox16">Non-Veg</div>
            <div class="ContentBox" id="NBox17">Non-Veg</div>
            <div class="ContentBox" id="NBox18">Non-Veg</div>
            <div class="ContentBox" id="NBox19">Non-Veg</div>
            <div class="ContentBox" id="NBox20">Non-Veg</div>
            <div class="ContentBox" id="NBox21">Non-Veg</div>
            <div class="ContentBox" id="NBox22">Non-Veg</div>
            <div class="ContentBox" id="NBox23">Non-Veg</div>
            <div class="ContentBox" id="NBox24">Non-Veg</div>
            <div class="ContentBox" id="NBox25">Non-Veg</div>
            <div class="ContentBox" id="NBox26">Non-Veg</div>
        


        </div>





    </div>




</body>

@section CustomJs
{
    <script src="~/js/menu.js"></script>
}