.testB {
    align-self : center;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.address-items {
    display: block;
    position: relative;
    top: 850px;
    left: 1100px;
    text-align: center;
    height: 300px;
    width: 350px;
    color:gold;
}



.mapouter {
    position: relative;
    text-align: right;
    height: 560px;
    width: 820px;
}



.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 560px;
    width: 820px;
}
